<div class="overlay">
  <div class="content">
    <div class="head">
      <div class="app-img">
        <img src="assets/right-block.png" alt="" />
      </div>
      <span class="title-2"> Maisonier </span>
    </div>
    <div class="body">
      <div class="elt-group">
        <div class="option">
          <span>Balance</span>
          <span>0.00 XAF</span>
        </div>
        <div class="option">
          <span>Status</span>
          <span>Activée</span>
        </div>
        <!-- <div class="option">
          <span>Status</span>
          <span>Activée</span>
        </div>
        <div class="option">
          <span>Status</span>
          <span>Activée</span>
        </div> -->
      </div>
      <div class="elt-group">
        <div class="option">
          <span>Gestion des frais</span>
          <span>Partagée</span>
        </div>
        <div class="option">
          <span>Moi</span>
          <span>44%</span>
        </div>
        <div class="option">
          <span>Le client</span>
          <span>56%</span>
        </div>
      </div>
      <div class="elt-group">
        <div class="option">
          <span>Gestion des frais</span>
          <span>Partagée</span>
        </div>
        <div class="option">
          <span>Moi</span>
          <span>44%</span>
        </div>
        <div class="option">
          <span>Le client</span>
          <span>56%</span>
        </div>
      </div>
    </div>
  </div>
</div>
