<div class="activation-page">
  <div class="barmenu">
    <div class="left-part">
      <span class="brand" (click)="addMember()">Pline<b>Pay</b></span>
      <div>|</div>
      <span>Activation du compte</span>
    </div>
    <div class="right-part">
      <a href="/dashboard">Fermer</a>
    </div>
  </div>
  <div class="main">
    <div class="tab-side">
      <div class="step-group">
        <div class="step-item" (click)="step = 1">
          <div class="step-head">
            <div class="check" [class.active]="step >= 0">
              <div></div>
            </div>
            <span class="step-title" [class.active]="step == 0">
              Informations sur l'entreprise
            </span>
          </div>
        </div>
        <div class="step-item" (click)="goStep2()">
          <div class="step-head">
            <div class="check" [class.active]="step >= 1">
              <div></div>
            </div>
            <span class="step-title" [class.active]="step == 1">
              Dirigeants de l'entreprise
            </span>
          </div>
        </div>
        <div class="step-item" (click)="goStep3()">
          <div class="step-head">
            <div class="check" [class.active]="step >= 2">
              <div></div>
            </div>
            <span class="step-title" [class.active]="step == 2">
              Documents
            </span>
          </div>
        </div>
        <div class="step-item" (click)="goStep4()" [class.active]="step == 3">
          <div class="step-head">
            <div class="check" [class.active]="step == 3">
              <div></div>
            </div>
            <span class="step-title">
              Ajouter votre compte de reception d'argent
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-side">
      <div class="form-block">
        <div class="form-item" *ngIf="step == 0">
          <form action="">
            <div class="input-group">
              <span>Dénomination sociale</span>
              <input
                type="text"
                placeholder="Entrez le nom de votre entreprise"
                [(ngModel)]="company.name"
                name="company-name"
              />
            </div>
            <div class="input-group">
              <span>Type entreprise</span>
              <select name="company-type" id="" [(ngModel)]="company.typeBusiness">
                <option value="" ngDefaultControl disabled>
                  Choisir votre statut juridique
                </option>
                <option value="SARL">SARL</option>
                <option value="S.A">S.A</option>
                <option value="SAS">SAS</option>
              </select>
            </div>
            <div class="input-group">
              <span>Numéro de téléphone de l'entreprise</span>
              <input
                type="tel"
                placeholder="+237  6  --  --  --  --"
                [(ngModel)]="company.phoneNumber"
                name="company-phone"
              />
            </div>
            <div class="input-group">
              <span>Date création entreprise</span>
              <input
                type="date"
                placeholder="DD/MM/YYYY"
                [(ngModel)]="company.companyRegistrationDate"
                name="company-phone"
              />
            </div>
            <div class="input-group">
              <span>Domaine d'activité</span>
              <select
                name="company-domain"
                id=""
                [(ngModel)]="company.sectorActivity"
              >
                <option value="" ngDefaultControl disabled>
                  Votre domaine d'activité
                </option>
                <option value="tech">Technologie</option>
                <option value="ecommerce">Ecommerce</option>
                <option value="finance">Finance</option>
                <option value="transport">Transport</option>
                <option value="restauration">Restauration</option>
                <option value="santé">Santé</option>
              </select>
            </div>
            <div class="input-group">
              <span>Adresse de l'entreprise</span>
              <input
                type="text"
                placeholder="Pays"
                [(ngModel)]="company.country"
                name="company-country"
              />
              <input
                type="text"
                placeholder="Ville"
                [(ngModel)]="company.city"
                name="company-city"
              />
            </div>
            <div class="input-group">
              <span>Site web de l'entreprise (Facultatif)</span>
              <input
                type="text"
                placeholder="www.votreentreprise.com"
                [(ngModel)]="company.siteWeb"
                name="company-website"
              />
            </div>

            <app-button
              [label]="'Suivant'"
              [fullWidth]="true"
              class="mt-8"
              (action)="setCompanyInfos()"
            ></app-button>
          </form>
        </div>
        <div class="form-item" *ngIf="step == 1">
          <div class="flex flex-col items-center w-full">
            <div
              class="member-group"
              *ngIf="members.length"
              style="max-width: 500px"
            >
              <div class="member-item" *ngFor="let item of members">
                <span>{{ item.name }} {{ item.surname }}</span>
                <span>{{ item.email }}</span>
              </div>
            </div>
            <form action="post" name="user" class="mt-8">
              <div class="input-group">
                <span>Nom</span>
                <input
                  type="text"
                  placeholder="Entrez le nom"
                  [(ngModel)]="member.name"
                  name="name"
                />
              </div>
              <div class="input-group">
                <span>Prénom</span>
                <input
                  type="text"
                  placeholder="Entrez le prénom"
                  [(ngModel)]="member.surname"
                  name="surname"
                />
              </div>
              <div class="input-group">
                <span>Téléphone</span>
                <input
                  type="phone"
                  placeholder="Entrez le numéro du dirigeant"
                  [(ngModel)]="member.phone"
                  name="phone"
                />
              </div>
              <div class="input-group">
                <span>Adresse email</span>
                <input
                  type="email"
                  placeholder="Entrez l 'adresse mail"
                  [(ngModel)]="member.email"
                  name="email"
                />
              </div>
              <div class="btns"></div>

              <app-button
                [label]="'Ajouter un dirigeant'"
                [fullWidth]="true"
                [state]="'black'"
                class="mt-8"
                (action)="addMember()"
                style="width: 100%"
              ></app-button>

              <app-button
                *ngIf="members.length"
                [label]="'Suivant'"
                [fullWidth]="true"
                class="mt-8"
                (action)="setMember()"
              ></app-button>
            </form>
          </div>
        </div>
        <div class="form-item" *ngIf="step == 2">
          <div class="doc-group">
            <div class="doc-item">
              <span class="title-3">Registre de commerce</span>
              <div class="img-input">
                <label class="image-guetter">
                  <!--<input
                    #image
                    type="file"
                    multiple
                    accept="application/pdf"
                    (change)="getImage(image, 'registreCommerce')"
                  />-->
                  <input
                    #image
                    type="file"
                    multiple
                    accept="application/pdf"
                    (change)="handleUploadRC($event)"
                  />
                  <div
                    class="img-input-txt"
                    *ngIf="documents.commercialRegister == ''"
                  >
                    <lucide-angular
                      name="file"
                      [size]="30"
                      [color]="'#505050'"
                    ></lucide-angular>
                    <span>Cliquer pour ajouter un document</span>
                    <span>PDF</span>
                  </div>
                  <div
                    *ngIf="documents.commercialRegister !== ''"
                    class="file-add"
                  >
                    <span> Chargement fichier réussi </span>
                    <button>Changer</button>
                  </div>
                </label>
              </div>
            </div>
            <div class="doc-item">
              <span class="title-3">CNI (Verso)</span>
              <div class="img-input">
                <label class="image-guetter">
                  <input
                    #image
                    type="file"
                    multiple
                    accept="image/jpeg, image/png, image/jpg"
                    (change)="handleUploadCNIVerso($event)"
                  />
                  <div
                    class="img-input-txt"
                    *ngIf="documents.idNumberCardVersoUrl == ''"
                  >
                    <lucide-angular
                      name="image-plus"
                      [size]="30"
                      [color]="'#505050'"
                    ></lucide-angular>
                    <span>Cliquer pour ajouter une image</span>
                    <span>JPG, PNG, JPEG</span>
                  </div>
                  <div
                    *ngIf="documents.idNumberCardVersoUrl !== ''"
                    class="file-add"
                  >
                    <span> Chargement fichier réussi </span>
                    <button>Changer</button>
                  </div>
                </label>
              </div>
            </div>
            <div class="doc-item">
              <span class="title-3">CNI (Recto)</span>
              <div class="img-input">
                <label class="image-guetter">
                  <input
                    #image
                    type="file"
                    multiple
                    accept="image/jpeg, image/png, image/jpg"
                    (change)="handleUploadCNIRecto($event)"
                  />
                  <div
                    class="img-input-txt"
                    *ngIf="documents.idNumberCardRectoUrl == ''"
                  >
                    <lucide-angular
                      name="image-plus"
                      [size]="30"
                      [color]="'#505050'"
                    ></lucide-angular>
                    <span>Cliquer pour ajouter une image</span>
                    <span>JPG, PNG, JPEG</span>
                  </div>
                  <div
                    *ngIf="documents.idNumberCardRectoUrl !== ''"
                    class="file-add"
                  >
                    <span> Chargement fichier réussi </span>
                    <button>Changer</button>
                  </div>
                </label>
              </div>
            </div>
            <div class="doc-item">
              <span class="title-3">Domiciliation bancaire</span>
              <div class="img-input">
                <label class="image-guetter">
                  <input
                    #image
                    type="file"
                    multiple
                    accept="application/pdf"
                    (change)="handleUploadDomiciliationBancaire($event)"
                  />
                  <div
                    class="img-input-txt"
                    *ngIf="documents.attestaionDomitiliationBancaire == ''"
                  >
                    <lucide-angular
                      name="file"
                      [size]="30"
                      [color]="'#505050'"
                    ></lucide-angular>
                    <span>Cliquer pour ajouter un document</span>
                    <span>PDF</span>
                  </div>
                  <div
                    *ngIf="documents.attestaionDomitiliationBancaire !== ''"
                    class="file-add"
                  >
                    <span> Chargement fichier réussi </span>
                    <button>Changer</button>
                  </div>
                </label>
              </div>
            </div>
            <div class="doc-item">
              <span class="title-3">Status entreprise</span>
              <div class="img-input">
                <label class="image-guetter">
                  <input
                    #image
                    type="file"
                    multiple
                    accept="application/pdf"
                    (change)="handleUploadStatutsEntreprise($event)"
                  />
                  <div
                    class="img-input-txt"
                    *ngIf="documents.statusEntreprise == ''"
                  >
                    <lucide-angular
                      name="file"
                      [size]="30"
                      [color]="'#505050'"
                    ></lucide-angular>
                    <span>Cliquer pour ajouter un document</span>
                    <span>PDF</span>
                  </div>
                  <div
                    *ngIf="documents.statusEntreprise !== ''"
                    class="file-add"
                  >
                    <span> Chargement fichier réussi </span>
                    <button>Changer</button>
                  </div>
                </label>
              </div>
            </div>
            <div class="doc-item">
              <span class="title-3">Carte contribuable</span>
              <div class="img-input">
                <label class="image-guetter">
                  <input
                    #image
                    type="file"
                    multiple
                    accept="application/pdf"
                    (change)="handleUploadCartecontribuable($event)"
                  />
                  <div
                    class="img-input-txt"
                    *ngIf="documents.carteContribuable == ''"
                  >
                    <lucide-angular
                      name="file"
                      [size]="30"
                      [color]="'#505050'"
                    ></lucide-angular>
                    <span>Cliquer pour ajouter un document</span>
                    <span>PDF</span>
                  </div>
                  <div
                    *ngIf="documents.carteContribuable !== ''"
                    class="file-add"
                  >
                    <span> Chargement fichier réussi </span>
                    <button>Changer</button>
                  </div>
                </label>
              </div>
            </div>
            <div class="doc-item">
              <span class="title-3">NIU</span>
              <div class="img-input">
                <label class="image-guetter">
                  <input
                    #image
                    type="file"
                    multiple
                    accept="application/pdf"
                    (change)="handleUploadNiu($event)"
                  />
                  <div class="img-input-txt" *ngIf="documents.nie == ''">
                    <lucide-angular
                      name="file"
                      [size]="30"
                      [color]="'#505050'"
                    ></lucide-angular>
                    <span>Cliquer pour ajouter un document</span>
                    <span>PDF</span>
                  </div>
                  <div *ngIf="documents.nie !== ''" class="file-add">
                    <span> Chargement fichier réussi </span>
                    <button>Changer</button>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <app-button
            [label]="'Envoyer les documents'"
            [fullWidth]="true"
            class="mt-8"
            (action)="setDocuments()"
          ></app-button>
        </div>
        <div class="form-item" *ngIf="step == 3">
          <div>
            <div class="mobile-payment">
              <span class="title">Paiments mobile</span>
              <div class="payment-group">
                <div
                  *ngFor="let item of paymentList"
                  class="payment-item"
                  (click)="selectMobilePayment(item.code, item.id)"
                  [class.active]="mobilePayment == item.code"
                >
                  <div class="pay-checker">
                    <div></div>
                  </div>
                  <div class="pay-txt">
                    <span> {{ item.name }} </span>
                    <p>
                      Recevez votre argent directement dans votre compte
                      {{ item.name }} ({{ item.code }}).
                    </p>
                  </div>
                </div>

                <div class="input-group" *ngIf="mobilePayment !== ''">
                  <span>Numéro de téléphone de reception</span>
                  <input
                    type="tel"
                    placeholder="+237 6-- --- ---"
                    [(ngModel)]="mobile.phoneNumber"
                    name="mobile-phone"
                  />
                </div>
              </div>
            </div>
            <div
              class="my-8"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <hr style="width: 30%" />
              <span class="font-bold">Ou par compte bancaire</span>
              <hr style="width: 30%" />
            </div>
            <div class="bank-area w-full flex justify-center mt-8">
              <form action="">
                <div class="input-group">
                  <span>Nom de la banque</span>
                  <input
                    type="text"
                    placeholder="Entrez le nom complet de votre banque"
                    [(ngModel)]="bank.nomBanque"
                    name="name"
                  />
                </div>
                <div class="input-group">
                  <span>Numéro IBAN</span>
                  <input
                    type="text"
                    placeholder="--- --- --- --- ---"
                    [(ngModel)]="bank.numIbamCompte"
                    name="surname"
                  />
                </div>
                <div class="input-group">
                  <span>Nom sur la carte</span>
                  <input
                    type="text"
                    placeholder="nom du titulaire de la carte"
                    [(ngModel)]="bank.nomTitulaireCompte"
                    name="titulaire"
                  />
                </div>
                <div class="input-group">
                  <span>Pays du compte bancaire</span>
                  <input
                    type="text"
                    placeholder="Veuillez sélectionnez le pays"
                    [(ngModel)]="bank.localisationBanque"
                    name="localisation"
                  />
                </div>
                <app-button
                  [label]="'Enregistrer'"
                  [fullWidth]="true"
                  class="mt-8"
                  (action)="setCompanyMoneyAccount()"
                ></app-button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="doc-block">
        <div class="doc-top">
          <div class="illustration">
            <lucide-icon name="info" [size]="30"></lucide-icon>
          </div>
          <div class="txt" *ngIf="step == 0">
            <span class="title"> Dites-nous en plus sur votre entreprise </span>
            <p>
              Ces informations nous permettent de mieux accompagner votre
              entreprise et de nous conformer aux exigences des organismes de
              régulation, de nos partenaires financiers et de notre Contrat
              d'utilisation du service PlinePay.
            </p>
          </div>
          <div class="txt" *ngIf="step == 1">
            <span class="title"> Dirigéants de l'entreprise </span>
            <p>
              Veuillez fournir des informations sur tout dirigeant ou cadre
              supérieur assumant des responsabilités importantes dans la
              direction de cette entreprise. <br /><br />
              Assurez-vous de saisir ces informations correctement, car nous
              sommes susceptibles de les vérifier <br /><br />
              Veuillez indiquer tous les dirigeants principaux de votre
              entreprise
            </p>
          </div>
          <div class="txt" *ngIf="step == 2">
            <span class="title"> Ajoutez les documents </span>
            <p>
              Dans le but d'authentifier votre entreprise, veuillez fournir ces
              documents
            </p>
          </div>
          <div class="txt" *ngIf="step == 3">
            <span class="title">
              Lier votre compte bancaire ou mobile money pour recevoir des
              virements.
            </span>
            <p>
              Un virement est un transfert de fonds de PlinePay vers votre
              compte.
            </p>
          </div>
        </div>
        <div class="doc-bottom">
          <span>PlinePay 2023 | Tous droits reservés</span>
          <a href="#">Termes et conditions d'utilisation</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Veuillez patienter ...</p>
</ngx-spinner>
