.empty-data-table {
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #707070;
  }
  #customers {
    margin-top: 24px;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td,
  #customers th {
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  
  #customers tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  #customers tr:not(:first-child):hover {
    background-color: #f8f8f8;
  }
  
  #customers th {
    text-align: left;
    border: none;
    border-bottom: 1px solid var(--border);
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.85rem;
  }
  .payment-app-select {
    border: 1px solid;
    border-radius: 5px;
  }
  
  .table-statut {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 34px;
    font-size: 0.9rem;
    color: white !important;
    border-radius: 25px;
  }
  .filter-group {
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--border);
  }
  .filter-group .app-filter {
    padding-right: 16px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    height: 100%;
    width: auto;
    border-right: 1px solid var(--border);
  }
  .app-filter select {
    padding: 8px;
    height: auto;
    border: 1px solid var(--border);
    font-weight: bold;
    outline: none;
  }
  .filter-group .other-filter {
    padding-left: 16px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    height: 100%;
    width: auto;
  }
  .price {
    font-weight: bold;
  }
  .price.error {
    color: #2020205e;
  }
  .pay-statut {
    padding: 0 15px;
    height: 30px;
    font-size: 0.9rem;
    border-radius: 15px;
    background: #d9f6e3;
  }
  .pay-statut.error {
    background: #f9e2e1;
  }
  .pay-statut.pending {
    background: #e1f5f9;
  }
  .pay-statut.refuse {
    background: #f9e2e1;
  }
  