<div class="app-item">
  <div class="img">
    <img src="{{ logoUrl }}" alt="" />
  </div>
  <div class="app-txt">
    <div class="top-txt">
      <span>{{ name }}</span>
      <div class="app-activity">
        <span>Activée</span>
      </div>
    </div>
    <div class="bottom-txt">
      <div class="elt-item">
        <span>Balance</span>
        <span>{{ balance }} XAF</span>
      </div>
      <div class="elt-item">
        <span>Nombre opérations</span>
        <span>{{ balance }}</span>
      </div>
      <div class="elt-item">
        <span>Taux</span>
        <span>{{ balance }}%</span>
      </div>
    </div>
  </div>
</div>
