button {
  padding: 0 15px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: .9rem;
}
button.active {
  border: none;
  background: var(--black);
  color: white;
  font-weight: bold;
}
