<div class="resume-item">
  <div class="head">
    <div class="icon">
      <lucide-angular
        name="coins"
        [size]="24"
        *ngIf="type == 'balance'"
      ></lucide-angular>
      <lucide-angular
        name="gantt-chart"
        [size]="24"
        *ngIf="type == 'operation'"
      ></lucide-angular>
      <lucide-angular
        name="repeat-2"
        [size]="24"
        *ngIf="type == 'transaction'"
      ></lucide-angular>
    </div>
    <span>{{ label }}</span>
  </div>
  <div class="body-value flex items-center gap-3">
    <span class="title-2">
      {{ value }}
    </span>
    <div
      class="comment"
      *ngIf="type == 'balance'"
      [class.normal]="percent == 0"
      [class.baisse]="percent < 0"
    >
      <lucide-angular
        name="trending-up"
        [size]="14"
        *ngIf="percent > 0"
      ></lucide-angular>
      <lucide-angular
        name="trending-down"
        [size]="14"
        *ngIf="percent < 0"
      ></lucide-angular>
      <span *ngIf="type == 'balance'">{{ percent.toFixed(2) }}%</span>
    </div>
    <div
      class="comment"
      *ngIf="type == 'operation'"
      [class.normal]="percent == 0"
      [class.baisse]="percent < 0"
    >
      <lucide-angular
        name="trending-up"
        [size]="14"
        *ngIf="percent > 0"
      ></lucide-angular>
      <lucide-angular
        name="trending-down"
        [size]="14"
        *ngIf="percent < 0"
      ></lucide-angular>
      <span *ngIf="type == 'operation'">{{ percent.toFixed(2) }}%</span>
    </div>
    <div
      class="comment"
      *ngIf="type == 'transaction'"
      [class.normal]="percent == 0"
      [class.baisse]="percent < 0"
    >
      <lucide-angular
        name="trending-up"
        [size]="14"
        *ngIf="percent > 0"
      ></lucide-angular>
      <lucide-angular
        name="trending-down"
        [size]="14"
        *ngIf="percent < 0"
      ></lucide-angular>
      <span *ngIf="type == 'transaction'">{{ percent.toFixed(2) }}%</span>
    </div>
  </div>
</div>
