<div class="head">
  <div class="controller">
    <span class="page-title"> Paiments </span>
    <div class="btns">
      <button>Exporter</button>
      <!-- <button>Créer un paiement</button> -->
    </div>
  </div>
  <nav class="navigation">
    <a href="/dashboard/paiement" [class.active]="route == '/dashboard/paiement'">Paiments</a>
    <a href="/dashboard/paiement/litiges" [class.active]="route == '/dashboard/paiement/litiges'">Litiges</a>
    <a href="/dashboard/paiement/tous" [class.active]="route == '/dashboard/paiement/tous'">Toutes les transactions</a>
  </nav>
</div>
<div class="">
  <router-outlet></router-outlet>
</div>
