@import url("../../../../assets/styles/dashboard-right-head.css");

.empty-data-table{
    font-family: sans-serif;
    letter-spacing: 0.5rem;
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top:1.5em;
  }
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #222a45 !important;
    color: white;
  }
  .payment-app-select{
    border: 1px solid;
    border-radius: 5px;
  }
    
  .table-statut {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 34px;
    font-size: 0.9rem;
    color:white!important;
    border-radius: 25px;
  }
