<div class="auth">
  <div class="form-side">
    <div class="head-area">
      <a href="#">Pline<b>Pay</b></a>
      <div class="sliders">
        <div [class.active]="blockView" (click)="prev()"></div>
        <div [class.active]="!blockView"></div>
      </div>
    </div>

    <div class="form-block">
      <div class="form-head">
        <span>Inscription</span>
        <!--commentaire à compléter-->
        <p></p>
      </div>
      <form>
        <div class="input-group" [style.display]="blockView ? 'flex' : 'none'">
          <app-input
            (newItemEvent)="setVar('nom', $event)"
            [label]="'Nom'"
            [type]="'text'"
            [placeholder]="'Entrez votre nom'"
          ></app-input>
          <app-input
            (newItemEvent)="setVar('prenom', $event)"
            [label]="'Prenom'"
            [type]="'text'"
            [placeholder]="'Entrez votre prénom'"
          ></app-input>
          <app-input
            (newItemEvent)="setVar('tel', $event)"
            [label]="'Téléphone'"
            [type]="'tel'"
            [placeholder]="'Numéro de téléphone'"
          ></app-input>
          <app-input
            (newItemEvent)="setVar('email', $event)"
            [label]="'Email'"
            [type]="'email'"
            [placeholder]="'Entrez votre email'"
          ></app-input>
        </div>
        <div class="input-group" [style.display]="!blockView ? 'flex' : 'none'">
          <!-- <app-input
            (newItemEvent)="setVar('pays', $event)"
            [label]="'Pays'"
            [type]="'text'"
            [placeholder]="'Cameroun'"
          ></app-input>
          <app-input
            (newItemEvent)="setVar('ville', $event)"
            [label]="'Ville'"
            [type]="'text'"
            [placeholder]="'Entrez votre ville'"
          ></app-input> -->
          <app-input
            (newItemEvent)="setVar('mdp', $event)"
            [label]="'Mot de passe'"
            [type]="'password'"
            [placeholder]="'Entrez votre mot de passe'"
          ></app-input>
          <app-input
            (newItemEvent)="setVar('mdp2', $event)"
            [label]="'Confirmer mot de passe'"
            [type]="'password'"
            [placeholder]="'Entrez votre mot de passe'"
          ></app-input>
        </div>
        <button
          type="button"
          [style.display]="blockView ? 'block' : 'none'"
          (click)="next()"
        >
          Suivant
        </button>
        <button
          type="button"
          style="opacity: 0.8"
          [style.display]="!blockView && !allFieldComplete ? 'block' : 'none'"
        >
          Je m'inscris
        </button>
        <button
          type="button"
          [style.display]="!blockView && allFieldComplete ? 'block' : 'none'"
          (click)="register()"
        >
          Je m'inscris
        </button>
        <p>Vous avez déjà un compte ? <a href="/login">Connectez-vous</a></p>
      </form>
    </div>
  </div>

  <div class="image-side">
    <div class="image-side-txt">
      <div class="txt">
        <h1>
          Une seule plateforme pour tous vos besoins en matière de paiement.
        </h1>
        <p>
          En offrant à vos clients les moyens de paiement adaptés à leur
          situation, vous développez votre activité à grande échelle et
          augmentez vos taux de conversion locaux et internationaux.
        </p>
      </div>
      <div class="footer">
        <span>2023 PlinePay | Tous droits reservés</span>
        <a href="#">A propos</a>
        <a href="#">Termes etconditions d'utilisation</a>
        <a href="#">confidentialité</a>
      </div>
    </div>
    <img src="assets/bg.png" alt="" />
  </div>
</div>
