<div class="homepage">
  <div class="application-block">
    <div class="empty-block complete-register" *ngIf="user.traderAccountIsComplet==='false'">
      <span class="title">Activez votre compte</span>
      <p>
        Juste quelques petites minutes pour <b>activer votre compte</b> avant de
        donner à votre activité une nouvelle dimension.
      </p>

      <button><a href="./activation">Activer mon compte</a></button>
    </div>
    <div class="empty-block" style="margin-top: 24px; background: #f0faeb">
      <span class="title"
        >Un site e-commerce, une application mobile, etc ?</span
      >
      <p>
        Donner à vos clients le moyen de s'offrir vos produits ou
        services et exploser la rentabilité de votre activité.
      </p>
      <button
        (click)="showCreateApp()"
        style="margin-top: 24px; background: #202020; color: white"
      >
        Connecter mon application
      </button>
    </div>
  </div>
  <div class="recent-activities">
    <div class="resume">
      <span class="title-4"> Resumé de votre activité </span>
      <div class="resume-grid">
        <app-home-resume-card
          [label]="'Balance totale'"
          [value]="'0.00'"
          [type]="'balance'"
        ></app-home-resume-card>
        <app-home-resume-card
          [label]="'Nombres d\'operation'"
          [value]="'0'"
          [type]="'operation'"
        ></app-home-resume-card>
        <app-home-resume-card
          [label]="'Transaction réussies'"
          [value]="'0'"
          [type]="'transaction'"
        ></app-home-resume-card>
      </div>
    </div>
    <div class="app-other">
      <div class="app-group">
        <span class="title-4"
          >Mes applications
          <span class="empty-data-table"
            >( {{ applicationList.length }} application<span
              *ngIf="applicationList.length > 0"
              >s</span
            >
            )</span
          >
        </span>
        <div class="app-parent" *ngIf="applicationList.length">
          <app-application-item
            *ngFor="let item of applicationList"
            [name]="item.name"
            [logoUrl]="item.logoURL"
            [balance]="item.balance"
            [percent]="item.percent"
            [statusApplication]="item.statusApplication"
            (click)="share(item)"
          ></app-application-item>
        </div>
        <div class="app-parent" *ngIf="!applicationList.length">
          <app-application-item-skeleton></app-application-item-skeleton>
          <app-application-item-skeleton></app-application-item-skeleton>
          <app-application-item-skeleton></app-application-item-skeleton>
        </div>
      </div>
    </div>
  </div>
  <app-create-app
    *ngIf="createAppVisible"
    (close)="hideCreateApp()"
  ></app-create-app>
  <app-activate-account-modal
    *ngIf="!activeAccountVisible"
    (close)="hideAccountActivationPop()"
  ></app-activate-account-modal>
  <app-detail-app-modal
    *ngIf="viewApp"
    (close)="hideAppDetail()"
    [name]="name"
    [state]="stat"
    [solde]="balance"
    [fees]="fees"
    [percent]="percent"
    [img]="img"
    [key]="key"
    [app]="appId"
  ></app-detail-app-modal>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Veuillez patienter ...</p>
</ngx-spinner>
