<div class="homepage">
  <div class="application-block">
    <div class="app-head">
      <span class="title"> Mes Applications </span>
      <div class="btn">
        <button (click)="showCreateApp()">Ajouter une application</button>
      </div>
    </div>
    <div class="empty-block complete-register">
      <span class="title">Activez votre compte</span>
      <p>
        Juste quelques petites minutes pour <b>activer votre compte</b> avant de
        donner à votre activité une nouvelle dimension.
      </p>

      <button><a href="./activation">Activer mon compte</a></button>
    </div>
    <div class="empty-block" style="margin-top: 24px; background: #f0faeb">
      <span class="title"
        >Un site e-commerce, une application mobile, etc ?</span
      >
      <p>
        Donner à vos clients le meilleur moyen de s'offrir vos produits ou
        services et exploser la rentabilité de votre activité.
      </p>
      <button
        (click)="showCreateApp()"
        style="margin-top: 24px; background: #202020; color: white"
      >
        Connecter mon produit
      </button>
    </div>
  </div>
  <div class="recent-activities"></div>
  <app-create-app
    *ngIf="createAppVisible"
    (close)="hideCreateApp()"
  ></app-create-app>
  <app-activate-account-modal
    *ngIf="activeAccountVisible"
    (close)="hideAccountActivationPop()"
  ></app-activate-account-modal>
</div>
