<div class="call-to-activate-pop">
  <div class="content">
    <div class="illustration">
      <img src="assets/activation-account.png" alt="" />
    </div>
    <div class="txt">
      <div class="close" (click)="closeModal()">
        <lucide-angular
          name="x"
          [size]="20"
          [color]="'#505050'"
          [strokeWidth]="2.5"
        ></lucide-angular>
      </div>
      <span class="title">Vous avez presque terminé.</span>
      <p>
        Juste quelques petites minutes pour <b>activer votre compte</b> avant de
        donner à votre activité une nouvelle dimension.
      </p>
      <div class="infos">
        <span class="info-item"> Informations publiques sur l’entreprise </span>
        <span class="info-item"> Votre équipe </span>
        <span class="info-item"> Paramètres de paiements </span>
      </div>
      <app-button
        [label]="'Activer mon compte'"
        [fullWidth]="true"
        class="mt-8"
        (action)="goToActivation()"
      ></app-button>
    </div>
  </div>
</div>
