.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--border);
}
.menu-container .menu-center {
  display: flex;
  height: 100%;
}
.menu-center a.active {
  border-bottom: 2px solid var(--black);
  font-weight: bold;
}
.menu-container .menu-right {
  position: relative;
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
  width: 20%;
}

.menu-container .menu-left {
  width: 20%;
}
.menu-left img {
  width: 110px;
}
.avatar-container {
  padding: 4px;
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  border: 2px solid var(--border);
  cursor: pointer;
}
.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.app-menu {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.app-menu .app-container {
  position: absolute;
  top: 100%;
  right: 0;
  width: 400px;
  height: auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.09);
  display: none;
  transition: 0.3s ease-in-out;
  z-index: 14;
}
.app-menu:hover .app-container {
  display: block;
}
.app-container .app-contain-head {
  padding: 0 12px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid var(--border);
  font-weight: bold;
}
.app-container .app-list {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
  height: auto;
}
.app-list .app-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  width: 100%;
  cursor: pointer;
}
@keyframes appear {
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
.app-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.app-item .icon img {
  width: 60%;
}
.app-item span {
  font-size: 0.9rem;
}
.app-menu .more-app-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: #f8f8f8;
  border-radius: 30px;
  border: 2px solid var(--border);
  cursor: pointer;
}
.user-info {
  display: flex;
  align-items: center;
  height: 100%;
}
.more-option {
  padding: 16px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 220px;
  height: 260px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.09);
  display: none;
  transition: 0.3s ease-in-out;
}
.more-option .user-block {
  padding-bottom: 16px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
  border-bottom: 1px solid var(--border);
}
.user-block span:first-child {
  font-weight: bold;
}
.user-block span:last-child {
  font-size: 0.9rem;
  color: #707070;
}
.more-option .option-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.option-block:nth-child(2) {
  margin-bottom: 6px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border);
}
.option-block a {
  display: flex;
  align-items: center;
  height: 34px;
  width: 100%;
  cursor: pointer;
}
.user-info:hover .more-option {
  display: block;
}
