<div class="app-container">
  <div class="app-overview">
    <div class="app-content">
      <div class="back-btn">
        <span>Accuel > Shrein</span>
      </div>
      <div class="app-head">
        <div class="app-icon"></div>
        <span class="app-name title-4">Shrein</span>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque omnis
          est quasi eos a sint nisi, porro odio?
        </p>
      </div>
      <div class="app-characteristic">
        <div class="app-overview-item">
          <span class="text-sm font-semibold">Type application</span>
          <div class="overview-elt">
            <div>Application E-commerce</div>
          </div>
        </div>
        <div class="app-overview-item">
          <span class="text-sm font-semibold">Produits</span>
          <div class="overview-elt">
            <div>Vêtements</div>
            <div>Electroménager</div>
          </div>
        </div>
        <div class="app-overview-item">
          <span class="text-sm font-semibold">Services</span>
          <div class="overview-elt">
            <div>Livraison</div>
            <div>Récyclage</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-dashboard">
    <div class="app-dash-head">
      <span style="font-size: 0.85rem">Details de l'application Shrein</span>
      <div class="menu-tab">
        <a href="#" class="font-bold">Informations générales</a>
        <a href="#">Paiement</a>
        <a href="#">Statistiques</a>
      </div>
    </div>
    <!-- hohohohoho {{ appId }} -->
  </div>
</div>
